site_name: ZAFU ACM Wiki
site_url: https://zafuacm.github.io/wiki

theme:
  name: material
  language: zh
  custom_dir: 'theme/mkdocs/'
  features:
    - navigation.tabs
    # - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
  palette:
    scheme: default
    primary: white
    accent: red
  favicon: favicon.ico
  icon:
    logo: material/school
    repo: fontawesome/brands/github-alt
  include_search_page: false
  search_index_only: true

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - footnotes
  - def_list
  - attr_list
  - pymdownx.tabbed
  - toc:
      permalink: ⚓︎
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - search
  - git-revision-date-localized:
      fallback_to_build_date: true
      locale: zh
  - git-authors:
      show_contribution: true
      show_line_count: true
      count_empty_lines: true
      fallback_to_empty: false

copyright: Copyright 2020 - 2022 ZAFU ACM Team
repo_url: https://github.com/zafuacm/wiki
repo_name: zafuacm/wiki
edit_uri: edit/main/docs/

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zafuacm
    - icon: fontawesome/solid/paper-plane
      link: mailto:rogeryoungh@foxmail.com


extra_javascript:
  - _static/config.js
  - https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/mathjax/3.2.0/es5/tex-svg.min.js

extra_css:
  - _static/extra.css

nav:
  - 关于:
    - 主页: index.md
    - 集训队简介: about/introduction.md
    - 往年竞赛成绩: about/history.md
    - 常见问题: about/faq.md
    - 如何加入: about/join-us.md
    - 名人堂: about/blogs.md
    - 参与文档建设: about/support.md
  - 基础:
    - 简介: basic/index.md
    - 如何提升: basic/how-to-train.md
    - 算法思想: basic/basic.md
    - 优化例题: basic/example.md
    - 递归: basic/divide.md
    - 二分: basic/binary.md
    - 贪心: basic/greedy.md
    - 排序: basic/sort.md
    - 递推初步: basic/recursion.md
    - 动态规划: basic/dp.md
    - 前缀和 & 差分: basic/prefix-sum.md
    - 快速幂: basic/quick-pow.md
    - 结语: basic/end.md
  - 字符串:
    - 简介: string/index.md
    - 最小表示法: string/minimal-string.md
  - 数学:
    - 简介: math/index.md
    - 筛法: math/sieve.md
    - 中国剩余定理: math/crt.md
    - 基础博弈: math/game-theory.md
    - Dirichlet 卷积: math/dirichlet.md
    - 多项式:
      - 简介: math/poly/index.md
      - FFT: math/poly/fft.md
      - 卷积: math/poly/convolution.md
      - 牛顿迭代: math/poly/newton.md
    - 积性函数:
      - 简介: math/multiplicative-function/index.md
      - Min_25 筛法: math/multiplicative-function/min25.md
      - 州阁筛: math/multiplicative-function/zhouge.md
      - Powerful Number 筛: math/multiplicative-function/pn.md
  - 数据结构:
    - 简介: struct/index.md
    - 树状数组: struct/fenwick-tree.md
    - ST 表: struct/sparse-table.md
  - 其它:
    - 简介: other/index.md
    - Markdown: other/markdown.md
    - MkDocs: other/mkdocs.md
